html{

    scroll-behavior: smooth

}

body{

    padding-right: 0 !important;
    background-color: #fcfcfc !important;

}

body.modal-open .supreme-container{

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transition: 0.5s;

}

body.modal-open {
    width: 100% !important;
    padding-right: 0 !important;
    overflow-y: scroll !important;
}


.bg-primary-sticky{

    background-color: #475e85;

}

.bg-light{

    background: #ffffff !important;

}

.navbar-sticky{

    border-bottom: solid 5px #eeeeee;

}

footer{

    word-wrap: break-word;
    background: #475e85 !important;

}

footer .strip{

    background: #576c90 !important;

}

.btn-primary{

    background-color: #576c90 !important;
    border-color: #475e85 !important;

}

.btn-primary:hover{

    background-color: #475e85 !important;
    border-color: #415679 !important;
}

.jumbotron-secondary{

    background: #F5F8FA !important;

}

.contact{

    margin-bottom: 0 !important;

}